{
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "standard"
        # "standard-react"
    ],
    "rules": {
        "indent": [2, 4]
    }
}
